




/*
---- CLAVES LIDER DE NEGOCIOS EN CORRETAJE CON CLAVES QUE PARTICIPAN EN PU CORREDORES
 drop table #CLAVES_PU_CORRETAJE
 SELECT DISTINCT G.* 
 INTO #CLAVES_PU_CORRETAJE
 FROM 
  (
 select  X.clave_inicial_asociada, 'IAXIS' AS CIA
 from (
SELECT DISTINCT
       L.sseguro,
       L.AGENTE  AS clave_inicial_asociada,
       N.AGENTE  AS agente_no_lider

FROM [Liberty_Pruebas_Actuaria].[dbo].polizas_corretaje_iaxis L
JOIN [Liberty_Pruebas_Actuaria].[dbo].polizas_corretaje_iaxis N
  ON N.sseguro = L.sseguro
 AND N.es_lider = 0
 AND N.AGENTE <> L.AGENTE   -- evita combinaciones "mismo agente"
WHERE L.es_lider = 1) x 
left join Liberty_Pruebas_Actuaria.dbo.claves_asociadas_pu_corredores y on (X.agente_no_lider = Y.clave_inicial_asociada)
WHERE Y.CIA IS NOT NULL

UNION ALL 
SELECT * FROM Liberty_Pruebas_Actuaria.dbo.claves_asociadas_pu_corredores) G


*/

/*

DROP TABLE #SISE_ANT
DROP TABLE #SISE_ACT


---- SISE ACTUAL 
;WITH A_filtrada AS (
    SELECT  CONVERT(char(6), fecha_proceso, 112) AS periodo_contable,canal_comercial,cod_suc, fecha_proceso,cod_agente,cod_ramo_cial,SEGMENTO_AUTOS,COD_GRUPO,CIA,NRO_POL,TIPO_DOCUMENTO,NUM_DOCUMENTO,sum(PRIMA_EMITIDA) as PRIMA_EMITIDA
    FROM CODMHDI.PLANEACION_RPT.dbo.PRODUCCION_COMPLETA AS A
    WHERE
        A.fecha_proceso >= '20250101'
        AND A.fecha_proceso <  '20270101'
        AND A.PRIMA_EMITIDA <> 0
        AND EXISTS (
            SELECT 1
            FROM #CLAVES_PU_CORRETAJE AS g
            WHERE g.cia = 'SISE'
              AND g.CLAVE_INICIAL_ASOCIADA = A.cod_agente
		        )
				group by  CONVERT(char(6), fecha_proceso, 112) ,fecha_proceso,cod_agente,cod_ramo_cial,SEGMENTO_AUTOS,COD_GRUPO,CIA,NRO_POL,TIPO_DOCUMENTO,NUM_DOCUMENTO,canal_comercial,cod_suc
)
SELECT
    'HDI' AS Compania,
    periodo_contable,  
    A_filtrada.cod_agente AS intermediario_inicial,
    COALESCE(b.COD_INTERMEDIARIO_HOMOLOGADO, A_filtrada.cod_agente) AS intermediario_final_asociado,
    CASE
        WHEN A_filtrada.cod_ramo_cial = 3 AND A_filtrada.SEGMENTO_AUTOS = 'PESADOS' THEN '3P'
        WHEN A_filtrada.cod_ramo_cial = 3 AND A_filtrada.SEGMENTO_AUTOS = 'MOTOS'   THEN '3M'
        WHEN A_filtrada.cod_ramo_cial = 3
             AND (A_filtrada.COD_GRUPO IS NULL OR A_filtrada.COD_GRUPO = 0)
             AND A_filtrada.SEGMENTO_AUTOS = 'LIVIANOS' THEN '3I'
        WHEN A_filtrada.cod_ramo_cial = 82 AND A_filtrada.CIA = 1 THEN '82-1'
        WHEN A_filtrada.cod_ramo_cial = 82 AND A_filtrada.CIA = 2 THEN '82-2'
        ELSE CONCAT('', A_filtrada.cod_ramo_cial)
    END AS ramo_prod,
    A_filtrada.NRO_POL AS poliza,
    A_filtrada.COD_GRUPO AS modalidad,
    A_filtrada.COD_GRUPO AS agrupador,
    A_filtrada.SEGMENTO_AUTOS AS tipo_riesgo,
    A_filtrada.TIPO_DOCUMENTO AS tipo_identifi_tomador,
    A_filtrada.NUM_DOCUMENTO AS Numero_identificacion_tomador,
    'Primas_emitidas' AS macro_concepto,
    'Primas_emitidas_SISE' AS concepto,
    SUM(A_filtrada.PRIMA_EMITIDA) AS valor_concepto,
    'CODMHDI.PLANEACION_RPT.dbo.PRODUCCION_COMPLETA' AS fuente_primaria
	into #SISE_ANT
FROM A_filtrada
LEFT JOIN (
    SELECT
		
        COD_INTERMEDIARIO_HDI,
        CANAL_HDI,
        COD_SUCURSAL_SUSCRIPCION_HDI,
        COD_INTERMEDIARIO_HOMOLOGADO
    FROM OPENQUERY(CODWHHDI,
        'SELECT COD_INTERMEDIARIO_HDI, CANAL_HDI, COD_SUCURSAL_SUSCRIPCION_HDI, COD_INTERMEDIARIO_HOMOLOGADO
         FROM stg.excel_com_Maestro_intermediarios_Homologados'
    )
) AS b
    ON  A_filtrada.cod_agente      = b.COD_INTERMEDIARIO_HDI
    AND A_filtrada.canal_comercial = b.CANAL_HDI
    AND A_filtrada.cod_suc         = b.COD_SUCURSAL_SUSCRIPCION_HDI
GROUP BY
    A_filtrada.cod_agente,
    b.COD_INTERMEDIARIO_HOMOLOGADO,
    A_filtrada.cod_ramo_cial,
    A_filtrada.SEGMENTO_AUTOS,
    A_filtrada.COD_GRUPO,
    A_filtrada.CIA,
    A_filtrada.NRO_POL,
    A_filtrada.NUM_DOCUMENTO,
    A_filtrada.periodo_contable,
    A_filtrada.TIPO_DOCUMENTO;

	*/


	---- nueva version 

	/*-----------------------------------------------------------
1. CLAVES SISE: dejar solo agentes necesarios
-----------------------------------------------------------*/
/*
IF OBJECT_ID('tempdb..#CLAVES_SISE') IS NOT NULL
    DROP TABLE #CLAVES_SISE;

SELECT DISTINCT
    CLAVE_INICIAL_ASOCIADA
INTO #CLAVES_SISE
FROM #CLAVES_PU_CORRETAJE
WHERE cia = 'SISE';

CREATE CLUSTERED INDEX IX_CLAVES_SISE
    ON #CLAVES_SISE (CLAVE_INICIAL_ASOCIADA);
	*/

/*-----------------------------------------------------------
2. HOMOLOGACIÓN: traer OPENQUERY una sola vez
-----------------------------------------------------------*/
IF OBJECT_ID('tempdb..#HOMOLOGACION') IS NOT NULL
    DROP TABLE #HOMOLOGACION;

SELECT
    COD_INTERMEDIARIO_HDI,
    CANAL_HDI,
    COD_SUCURSAL_SUSCRIPCION_HDI,
    COD_INTERMEDIARIO_HOMOLOGADO
INTO #HOMOLOGACION
FROM OPENQUERY(CODWHHDI,
    'SELECT
         COD_INTERMEDIARIO_HDI,
         CANAL_HDI,
         COD_SUCURSAL_SUSCRIPCION_HDI,
         COD_INTERMEDIARIO_HOMOLOGADO
     FROM stg.excel_com_Maestro_intermediarios_Homologados'
);

CREATE NONCLUSTERED INDEX IX_HOMOLOGACION
ON #HOMOLOGACION (
    COD_INTERMEDIARIO_HDI,
    CANAL_HDI,
    COD_SUCURSAL_SUSCRIPCION_HDI
)
INCLUDE (COD_INTERMEDIARIO_HOMOLOGADO);


/*-----------------------------------------------------------
3. PREAGREGAR SOLO AL NIVEL NECESARIO
   OJO: quitamos fecha_proceso del GROUP BY
-----------------------------------------------------------*/
;WITH A_filtrada AS
(
    SELECT
        CONVERT(char(6), A.fecha_proceso, 112) AS periodo_contable,
        A.canal_comercial,
        A.cod_suc,
        A.cod_agente,
        A.cod_ramo_cial,
        A.SEGMENTO_AUTOS,
        A.COD_GRUPO,
        A.CIA,
        A.NRO_POL,
        A.TIPO_DOCUMENTO,
        A.NUM_DOCUMENTO,
        SUM(A.PRIMA_EMITIDA) AS PRIMA_EMITIDA
    FROM CODMHDI.PLANEACION_RPT.dbo.PRODUCCION_COMPLETA AS A
 ---   INNER JOIN #CLAVES_SISE AS C
 ---      ON C.CLAVE_INICIAL_ASOCIADA = A.cod_agente
    WHERE
        A.fecha_proceso >= '20250101'
        AND A.fecha_proceso <  '20270101'
        AND A.PRIMA_EMITIDA <> 0
    GROUP BY
        CONVERT(char(6), A.fecha_proceso, 112),
        A.canal_comercial,
        A.cod_suc,
        A.cod_agente,
        A.cod_ramo_cial,
        A.SEGMENTO_AUTOS,
        A.COD_GRUPO,
        A.CIA,
        A.NRO_POL,
        A.TIPO_DOCUMENTO,
        A.NUM_DOCUMENTO
)
SELECT
    'HDI' AS Compania,
    A.periodo_contable,
    A.cod_agente AS intermediario_inicial,
    COALESCE(H.COD_INTERMEDIARIO_HOMOLOGADO, A.cod_agente) AS intermediario_final_asociado,
    CASE
        WHEN A.cod_ramo_cial = 3 AND A.SEGMENTO_AUTOS = 'PESADOS' THEN '3P'
        WHEN A.cod_ramo_cial = 3 AND A.SEGMENTO_AUTOS = 'MOTOS'   THEN '3M'
        WHEN A.cod_ramo_cial = 3
             AND (A.COD_GRUPO IS NULL OR A.COD_GRUPO = 0)
             AND A.SEGMENTO_AUTOS = 'LIVIANOS' THEN '3I'
        WHEN A.cod_ramo_cial = 82 AND A.CIA = 1 THEN '82-1'
        WHEN A.cod_ramo_cial = 82 AND A.CIA = 2 THEN '82-2'
        ELSE CAST(A.cod_ramo_cial AS varchar(20))
    END AS ramo_prod,
    A.NRO_POL AS poliza,
    A.COD_GRUPO AS modalidad,
    A.COD_GRUPO AS agrupador,
    A.SEGMENTO_AUTOS AS tipo_riesgo,
    A.TIPO_DOCUMENTO AS tipo_identifi_tomador,
    A.NUM_DOCUMENTO AS Numero_identificacion_tomador,
    'Primas_emitidas' AS macro_concepto,
    'Primas_emitidas_SISE' AS concepto,
    SUM(A.PRIMA_EMITIDA) AS valor_concepto,
    'CODMHDI.PLANEACION_RPT.dbo.PRODUCCION_COMPLETA' AS fuente_primaria
INTO #SISE_ANT
FROM A_filtrada AS A
LEFT JOIN #HOMOLOGACION AS H
    ON  A.cod_agente       = H.COD_INTERMEDIARIO_HDI
    AND A.canal_comercial  = H.CANAL_HDI
    AND A.cod_suc          = H.COD_SUCURSAL_SUSCRIPCION_HDI
GROUP BY
    A.periodo_contable,
    A.cod_agente,
    COALESCE(H.COD_INTERMEDIARIO_HOMOLOGADO, A.cod_agente),
    CASE
        WHEN A.cod_ramo_cial = 3 AND A.SEGMENTO_AUTOS = 'PESADOS' THEN '3P'
        WHEN A.cod_ramo_cial = 3 AND A.SEGMENTO_AUTOS = 'MOTOS'   THEN '3M'
        WHEN A.cod_ramo_cial = 3
             AND (A.COD_GRUPO IS NULL OR A.COD_GRUPO = 0)
             AND A.SEGMENTO_AUTOS = 'LIVIANOS' THEN '3I'
        WHEN A.cod_ramo_cial = 82 AND A.CIA = 1 THEN '82-1'
        WHEN A.cod_ramo_cial = 82 AND A.CIA = 2 THEN '82-2'
        ELSE CAST(A.cod_ramo_cial AS varchar(20))
    END,
    A.NRO_POL,
    A.COD_GRUPO,
    A.SEGMENTO_AUTOS,
    A.TIPO_DOCUMENTO,
    A.NUM_DOCUMENTO;


	--- fin nueva version sise 


	---- ******  SISE_ANTERIOR


		
;WITH A_filtrada AS (
    SELECT A.*
    FROM CODMHDI.PLANEACION_RPT.dbo.PRODUCCION_COMPLETA_DIARIA AS A
    WHERE
        A.fecha_proceso >= '20250101'
        AND A.fecha_proceso <  '20270101'
        AND A.PRIMA_EMITIDA <> 0
 /*       AND EXISTS (
            SELECT 1
            FROM #CLAVES_PU_CORRETAJE AS g
            WHERE g.cia = 'SISE'
              AND g.CLAVE_INICIAL_ASOCIADA = A.cod_agente
        )*/
)
SELECT
    'HDI' AS Compania,
    CONVERT(char(6), A_filtrada.fecha_proceso, 112) AS periodo_contable,   -- yyyymm
    A_filtrada.cod_agente AS intermediario_inicial,
    COALESCE(b.COD_INTERMEDIARIO_HOMOLOGADO, A_filtrada.cod_agente) AS intermediario_final_asociado,
    CASE
        WHEN A_filtrada.cod_ramo_cial = 3 AND A_filtrada.SEGMENTO_AUTOS = 'PESADOS' THEN '3P'
        WHEN A_filtrada.cod_ramo_cial = 3 AND A_filtrada.SEGMENTO_AUTOS = 'MOTOS'   THEN '3M'
        WHEN A_filtrada.cod_ramo_cial = 3
             AND (A_filtrada.COD_GRUPO IS NULL OR A_filtrada.COD_GRUPO = 0)
             AND A_filtrada.SEGMENTO_AUTOS = 'LIVIANOS' THEN '3I'
        WHEN A_filtrada.cod_ramo_cial = 82 AND A_filtrada.CIA = 1 THEN '82-1'
        WHEN A_filtrada.cod_ramo_cial = 82 AND A_filtrada.CIA = 2 THEN '82-2'
        ELSE CONCAT('', A_filtrada.cod_ramo_cial)
    END AS ramo_prod,
    A_filtrada.NRO_POL AS poliza,
    A_filtrada.COD_GRUPO AS modalidad,
    A_filtrada.COD_GRUPO AS agrupador,
    A_filtrada.SEGMENTO_AUTOS AS tipo_riesgo,
    A_filtrada.TIPO_DOCUMENTO AS tipo_identifi_tomador,
    A_filtrada.NUM_DOCUMENTO AS Numero_identificacion_tomador,
    'Primas_emitidas' AS macro_concepto,
    'Primas_emitidas_SISE' AS concepto,
    SUM(A_filtrada.PRIMA_EMITIDA) AS valor_concepto,
    'CODMHDI.PLANEACION_RPT.dbo.PRODUCCION_COMPLETA' AS fuente_primaria
	into #SISE_ACT
FROM A_filtrada
LEFT JOIN (
    SELECT
        COD_INTERMEDIARIO_HDI,
        CANAL_HDI,
        COD_SUCURSAL_SUSCRIPCION_HDI,
        COD_INTERMEDIARIO_HOMOLOGADO
    FROM OPENQUERY(CODWHHDI,
        'SELECT COD_INTERMEDIARIO_HDI, CANAL_HDI, COD_SUCURSAL_SUSCRIPCION_HDI, COD_INTERMEDIARIO_HOMOLOGADO
         FROM stg.excel_com_Maestro_intermediarios_Homologados'
    )
) AS b
    ON  A_filtrada.cod_agente      = b.COD_INTERMEDIARIO_HDI
    AND A_filtrada.canal_comercial = b.CANAL_HDI
    AND A_filtrada.cod_suc         = b.COD_SUCURSAL_SUSCRIPCION_HDI
GROUP BY
    A_filtrada.cod_agente,
    b.COD_INTERMEDIARIO_HOMOLOGADO,
    A_filtrada.cod_ramo_cial,
    A_filtrada.SEGMENTO_AUTOS,
    A_filtrada.COD_GRUPO,
    A_filtrada.CIA,
    A_filtrada.NRO_POL,
    A_filtrada.NUM_DOCUMENTO,
    CONVERT(char(6), A_filtrada.fecha_proceso, 112),
    A_filtrada.TIPO_DOCUMENTO;



------   inicion integracion de primas HDI & HDISC --------------

DROP TABLE #primas_emitidas
select * 
into #primas_emitidas
from (
select 
'HDISC' AS Compania,periodo_contable,
INTERMEDIARIO_LIDE AS intermediario_inicial,
INTERMEDIARIO_LIDE AS intermediario_final_asociado,
A.ramo_prod,poliza, 
COD_MODALIDAD AS modalidad, 
case when tipo_poliza ='C' then 100 else null end AS agrupador, 
CONCAT('', COD_PRODUCTO) AS tipo_riesgo,
A.TIPO_identifi_tom AS tipo_identifi_tomador,
A.nro_identifi_tom AS Numero_identificacion_tomador,  
'Primas_emitidas' AS macro_concepto,  
'Primas_emitidas_IAXIS' AS concepto, 
sum(isnull(A.vr_prima_pesos_coa, 0)  - iif(A.ramo_prod = 'AO', isnull(A.vr_prima_mn_orig, 0), 0) - iif(A.ramo_prod = '900730', isnull(A.vr_contribucion, 0), 0)) AS valor_concepto,
'Liberty.prod.dwh_polizas_h' as fuente_primaria

from Liberty.prod.dwh_polizas_h A 
--INNER JOIN #CLAVES_PU_CORRETAJE g ON g.CLAVE_INICIAL_ASOCIADA = A.INTERMEDIARIO_LIDE AND g.cia = 'IAXIS'
 where periodo_contable BETWEEN 202501 AND 202612 and a.vr_prima_pesos_coa <> 0--- and g.CLAVE_INICIAL_ASOCIADA is not null
 GROUP BY periodo_contable,
INTERMEDIARIO_LIDE,
A.ramo_prod,poliza, 
COD_MODALIDAD, 
tipo_poliza, 
COD_PRODUCTO,
A.TIPO_identifi_tom,
A.nro_identifi_tom

 union all

 SELECT
'HDISC' AS Compania,periodo_contable,
INTERMEDIARIO_LIDE AS intermediario_inicial,
B.agente AS intermediario_final_asociadao,
A.ramo_prod,A.poliza, 
COD_MODALIDAD AS modalidad, 
case when tipo_poliza ='C' then 100 else null end AS agrupador, 
concat('',COD_PRODUCTO) AS tipo_riesgo,
A.TIPO_identifi_tom AS tipo_identifi_tomador,
A.nro_identifi_tom AS Numero_identificacion_tomador,  
'Primas_emitidas' AS macro_concepto,  
'Primas_CO-Corretaje' AS concepto, 
(sum(A.VR_PRIMA_PESOS_COA) * (B.PARTICIPACION / 100.0)) AS valor_concepto,
'[Liberty].[PROD].[DWH_AGE_CORRETAJE]' as fuente_primaria

from Liberty.prod.dwh_polizas_h A 
left join [Liberty_Pruebas_Actuaria].[dbo].polizas_corretaje_iaxis B on (A.RAMO_PROD =  B.RAMO_PROD AND A.POLIZA=B.POLIZA AND A.DOCUMENTO=B.DOCUMENTO_PRIMA AND A.SSEGURO = B.SSEGURO)
---left join (SELECT DISTINCT CLAVE_INICIAL_ASOCIADA FROM #CLAVES_PU_CORRETAJE where cia = 'IAXIS') g on (B.agente = g.CLAVE_INICIAL_ASOCIADA) ------ OJO VALIDAR SI ESTA BIEN EL CO-RRETAJE POR QUE ESTOY TRAYENDO AL FINAL LAS CLAVE QUE PARTICIPAN
 where A.periodo_contable BETWEEN 202501 AND 202612 AND B.SSEGURO IS NOT NULL --  and g.CLAVE_INICIAL_ASOCIADA is not null
 GROUP BY periodo_contable,
INTERMEDIARIO_LIDE,
A.ramo_prod,A.poliza, 
COD_MODALIDAD, 
tipo_poliza, 
COD_PRODUCTO,
A.TIPO_identifi_tom,
A.nro_identifi_tom,
B.agente,
B.PARTICIPACION



 union all
 ---- produccion HDI periodos
SELECT * from #SISE_ANT
union all
SELECT * from #SISE_ACT

) Z

drop table [Liberty_Pruebas_Actuaria].[dbo].Emitida_general
select * 
into [Liberty_Pruebas_Actuaria].[dbo].Emitida_general
from #primas_emitidas


--- validaciones 

select distinct  periodo_contable from [Liberty_Pruebas_Actuaria].[dbo].primas_pu_corredores order by periodo_contable


select * from  [Liberty_Pruebas_Actuaria].[dbo].red_comercial_integrada WHERE clave_asociada_inicial = 94589


select concepto,sum(valor_concepto) from [Liberty_Pruebas_Actuaria].[dbo].primas_pu_corredores a
left join [Liberty_Pruebas_Actuaria].[dbo].red_comercial_integrada b on (a.intermediario_final_asociado =b.clave_asociada_inicial ) where periodo_contable = 202601 and b.clave_lider = 1044
group by concepto

select * from  [Liberty_Pruebas_Actuaria].[dbo].primas_pu_corredores where intermediario_inicial = 94589